<!DOCTYPE html>
<html>
<head>
<style>

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

body {
    background-color: #FFFFFF;
    width: 100%;
    margin: 1rem;
}

header {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 4rem;
    color: #006666;
    text-align: center
}

h2 {
    font-size: 2.5rem;
    color: #336666;
    text-align: left
}

h3 {
    font-size: 1.6rem;
    color: #009999;
    text-align: left
}

article {
    width: 80%;
    text-align: center;
    padding: .5rem;
}

aside {
    text-align: right;
    background: #CCFFCC;
    border: .1rem;
    border-color: #006666;    
}

p {
    font-family: Georgia, serif;
    font-size: 1rem;
    color: #000000;
    }

p:: {
    first-letter: 1.2rem;
}

a {
    text-decoration: underline;
    color: #006666;
}

.container {
    width: 200px;
    height: 120px;
}

/* resize images */
.container img {
    width: 100%;
    height: auto;
}

img {
    
}

footer {
    border: .1rem;
    font-size: .5rem;
}

</body>
</html>